<div class="home__container" style="background-image: url(../assets/image/bg2.jpg);">
  <div class="home__guide">
    <div class="home__caption">Xin vui lòng lựa chọn dịch vụ bên em</div>
    <div class="home__notice">(Bên em sẽ thu phí cho chủ thẻ VCB giao dịch tại ATM của ngân hàng khác)</div>
  </div>

  <div class="home__btns">
    <div class="home__actions home__actions_left">
      <div class="home__action" (click)="navigateToCashoutHome()">{{a.actions1}}</div>
      <div class="home__action">{{a.actions2}}</div>
      <div class="home__action">{{a.actions3}}</div>
      <div class="home__action">{{a.actions4}}</div>
    </div>
    <div class="home__actions home__actions_right">
      <div class="home__action">{{a.actions5}}</div>
      <div class="home__action">{{a.actions6}}</div>
      <div class="home__action">{{a.actions7}}</div>
      <div class="home__action">{{a.actions8}}</div>
    </div>
  </div>
</div>
